.header{
    background-color: rgb(12, 125, 201);
    width: 100%;
}
.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}
.list-nav{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: yellow;
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
.nav li:hover > ul {
    display:block;
}
.nav li ul li {
    position:relative;
}